USE [DATABASEPROJE1]
GO
/****** Object:  Table [dbo].[TBL_Assignees]    Script Date: 16.09.2025 00:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Assignees](
	[AssigneeID] [int] IDENTITY(1,1) NOT NULL,
	[Assignee_name] [varchar](100) NULL,
	[Assignee_username] [varchar](100) NULL,
	[Assignee_password] [varchar](32) NULL,
 CONSTRAINT [PK_TBL_Assignees] PRIMARY KEY CLUSTERED 
(
	[AssigneeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Contractors]    Script Date: 16.09.2025 00:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Contractors](
	[ContractorID] [int] IDENTITY(1,1) NOT NULL,
	[Contractor_name] [varchar](100) NULL,
	[Contractor_username] [varchar](100) NULL,
	[Contractor_password] [varchar](32) NULL,
 CONSTRAINT [PK_TBL_Contractors] PRIMARY KEY CLUSTERED 
(
	[ContractorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Project]    Script Date: 16.09.2025 00:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Project](
	[ProjectID] [int] NULL,
	[Project_name] [varchar](100) NULL,
	[Project_field] [varchar](100) NULL,
	[Project_state] [varchar](100) NULL,
	[Project_AssigneeID] [int] NULL,
	[Project_SupervisorID] [int] NULL,
	[Project_ContractorID] [int] NULL,
	[Project_Price] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Supervisors]    Script Date: 16.09.2025 00:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Supervisors](
	[SupervisorID] [int] IDENTITY(1,1) NOT NULL,
	[Supervisor_name] [varchar](100) NULL,
	[Supervisor_username] [varchar](100) NULL,
	[Supervisor_password] [varchar](32) NULL,
 CONSTRAINT [PK_TBL_Supervisors] PRIMARY KEY CLUSTERED 
(
	[SupervisorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TBL_Unassigned_Project]    Script Date: 16.09.2025 00:04:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TBL_Unassigned_Project](
	[UProjectID] [int] IDENTITY(1,1) NOT NULL,
	[Project_name] [varchar](100) NULL,
	[Project_field] [varchar](100) NULL,
	[Project_Price] [bigint] NULL,
	[ContractorID] [int] NULL,
 CONSTRAINT [PK_TBL_Unassigned_Project] PRIMARY KEY CLUSTERED 
(
	[UProjectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TBL_Assignees] ON 

INSERT [dbo].[TBL_Assignees] ([AssigneeID], [Assignee_name], [Assignee_username], [Assignee_password]) VALUES (1, N'AYŞE ÇETİN', N'ayşeçetin', N'ayşe123')
INSERT [dbo].[TBL_Assignees] ([AssigneeID], [Assignee_name], [Assignee_username], [Assignee_password]) VALUES (2, N'KADİR TOPRAK', N'kadirtoprak', N'kadir123')
INSERT [dbo].[TBL_Assignees] ([AssigneeID], [Assignee_name], [Assignee_username], [Assignee_password]) VALUES (3, N'MEHMET GÜRBÜZ', N'mehmetgürbüz', N'mehmet123')
SET IDENTITY_INSERT [dbo].[TBL_Assignees] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_Contractors] ON 

INSERT [dbo].[TBL_Contractors] ([ContractorID], [Contractor_name], [Contractor_username], [Contractor_password]) VALUES (1, N'ALP METE ÜNAL', N'alpmeteünal', N'alp123')
INSERT [dbo].[TBL_Contractors] ([ContractorID], [Contractor_name], [Contractor_username], [Contractor_password]) VALUES (2, N'AHMET KADİR DOĞAN', N'ahmetkadirdoğan', N'ahmet123')
INSERT [dbo].[TBL_Contractors] ([ContractorID], [Contractor_name], [Contractor_username], [Contractor_password]) VALUES (3, N'TANLA DAMLA KURTTEKİN', N'tanladamlakurttekin', N'tanla123')
SET IDENTITY_INSERT [dbo].[TBL_Contractors] OFF
GO
INSERT [dbo].[TBL_Project] ([ProjectID], [Project_name], [Project_field], [Project_state], [Project_AssigneeID], [Project_SupervisorID], [Project_ContractorID], [Project_Price]) VALUES (NULL, N'seydiler köprü', N'transportation', N'DONE', 3, NULL, 1, 100000)
GO
SET IDENTITY_INSERT [dbo].[TBL_Supervisors] ON 

INSERT [dbo].[TBL_Supervisors] ([SupervisorID], [Supervisor_name], [Supervisor_username], [Supervisor_password]) VALUES (1, N'MURAT TEKİN', N'murattekin', N'murat123')
SET IDENTITY_INSERT [dbo].[TBL_Supervisors] OFF
GO
SET IDENTITY_INSERT [dbo].[TBL_Unassigned_Project] ON 

INSERT [dbo].[TBL_Unassigned_Project] ([UProjectID], [Project_name], [Project_field], [Project_Price], [ContractorID]) VALUES (1012, N'seydiler köprü', N'transportation', 100000, 1)
SET IDENTITY_INSERT [dbo].[TBL_Unassigned_Project] OFF
GO
ALTER TABLE [dbo].[TBL_Unassigned_Project]  WITH CHECK ADD  CONSTRAINT [FK_TBL_Unassigned_Project_TBL_Contractors] FOREIGN KEY([ContractorID])
REFERENCES [dbo].[TBL_Contractors] ([ContractorID])
GO
ALTER TABLE [dbo].[TBL_Unassigned_Project] CHECK CONSTRAINT [FK_TBL_Unassigned_Project_TBL_Contractors]
GO
